body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background: lightblue;
  color: #2d3340;
}

section {
  padding: 20px 50px;
}

h1 {
  font-size: 34px;
}

h2 {
  border-bottom: 2px solid #2d3340;
  padding-bottom: 10px;
  font-size: 26px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #2d3340;
  color: #d8dee9;
  font-size: 16px;
}

.dropdown-btn {
  position: relative;
  background: #f8f8f8;
  color: #2d3340;
  width: 300px;
  border: none;
  padding: 20px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.dropdown-btn .arrow {
  position: absolute;
  right: 25px;
  top: 15px;
  border-top: 2px solid #2d3340;
  border-right: 2px solid #2d3340;
  width: 17px;
  height: 17px;
  transform: rotateZ(134deg);
}

ul.dropdown {
  width: 300px;
  background: #fff;
  color: #666;
  padding: 0;
  list-style: none;
  border-radius: 3px;
  margin-top: -2px;
}

.dropdown li {
  border-bottom: 1px solid #eee;
  padding: 20px 20px;
  transition: background 0.2s ease-in;
}

.dropdown li:last-child {
  border: none;
}

.dropdown li:hover {
  background: #eee;
  border-radius: 3px;
}

