body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background: lightblue;
  color: #2d3340;
}

header {
  background: #2d3340;
  padding: 10px 50px;
  position: relative;
  z-index: 1;
  display: flex;
}

header img {
  width: 70px;
  padding-right: 20px;
}

.navigation-btn {
  position: absolute;
  top: 37px;
  right: 50px;
  background: none;
  width: 35px;
  height: 25px;
}

.navigation-btn span {
  width: 100%;
  height: 4px;
  background: #f8f8f8f8;
  position: absolute;
  right: 0;
}

.navigation-btn span:first-child {
  top: 0;
}

.navigation-btn span:nth-child(2) {
  top: 10px;
}

.navigation-btn span:last-child {
  top: 20px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #f8f8f8;
  z-index: 10;
  border-right: 1px solid #eee;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(204, 204, 204, 1);
  -moz-box-shadow: 1px 1px 5px 1px rgba(204, 204, 204, 1);
  box-shadow: 1px 1px 5px 1px rgba(204, 204, 204, 1);
}

nav ul {
  padding: 30px 0 0 0;
  margin: 0;
  list-style: none;
}

nav li {
  padding: 10px 50px;
}

nav li a {
  color: #2d3340;
  text-decoration: none;
  font-size: 17px;
}

.navigation-btn-close {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  cursor: pointer;
}

.navigation-btn-close:before {
  content: "+";
  font-size: 30px;
  color: #2d3340;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotateZ(45deg);
}

section {
  padding: 20px 50px;
}

h1 {
  font-size: 30px;
  color: #d8dee9;
}

h2 {
  border-bottom: 2px solid #2d3340;
  padding-bottom: 10px;
  font-size: 26px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #2d3340;
  color: #d8dee9;
  font-size: 16px;
}

.dropdown-btn {
  position: relative;
  background: #f8f8f8;
  color: #2d3340;
  width: 300px;
  border: none;
  padding: 20px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.dropdown-btn .arrow {
  position: absolute;
  right: 25px;
  top: 15px;
  border-top: 2px solid #2d3340;
  border-right: 2px solid #2d3340;
  width: 17px;
  height: 17px;
  transform: rotateZ(134deg);
}

ul.dropdown {
  width: 300px;
  background: #fff;
  color: #666;
  padding: 0;
  list-style: none;
  border-radius: 3px;
  margin-top: -2px;
}

.dropdown li {
  border-bottom: 1px solid #eee;
  padding: 20px 20px;
  transition: background 0.2s ease-in;
}

.dropdown li:last-child {
  border: none;
}

.dropdown li:hover {
  background: #eee;
  border-radius: 3px;
}

.modal {
  background: #fff;
  padding: 20px 20px 40px 20px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 2px solid #2d3340;
}

.tabs button {
  border-radius: 3px 3px 0 0;
}

.tabs button.tab-active {
  background: #f8f8f8;
  color: #2d3340;
  outline: none;
}

.tabs .tab {
  background: #f8f8f8;
  padding: 20px;
}

.big-image img {
  width: 100%;
}

.thumbnails {
  display: flex;
  margin-left: -3px;
  margin-right: -3px;
}

.thumbnails a {
  padding: 3px;
  transition: opacity 0.2s ease-in;
}

.thumbnails a.image-active,
.thumbnails a:hover {
  opacity: 0.6;
}

.thumbnails img {
  width: 100%;
}